label + label {
  padding-left:0.4em;
}
label {
  white-space:nowrap;
}
li + li {
  padding-top: 0.4em;
}

.almost-done li.unanswered {
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0% { background-color: none; }
  50% { background-color: #8b000040; }
  100% { background-color: none; }
}

/* Adapted from https://perfectmotherfuckingwebsite.com */
body {
  overflow-wrap: break-word;
  max-width: 80rem;
  margin: 10px auto;
  padding: 0 10px;
  font: 20px/1.3 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: #111;
  }

  a:link {
    color: #5bf
  }

  a:visited {
    color: #ccf
  }

  div.bookmark {
    border-bottom: #222 dotted;
  }

  div.comment:not(:last-child) {
    border-bottom: 2px #222 dotted;
  }

}